<p><small>{{ "This website is made with 💜 by [~hedy](https://home.hedy.dev/) with [Lume](https://lume.land/) and hand-crafted CSS. It is best viewed in your favorite web browser. View the source [here](https://github.com/hedyhli/meta-ring)." |> md(true) }}</small></p>
