<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <meta name="theme-color" content="aliceblue" />

    <title>{{ title }}</title>
    <link rel="icon" sizes="any" href="/icon.svg" type="image/svg+xml" />
    <link rel="icon" sizes="192x192" href="/icon-192.png" type="image/png" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/fonts.css" />
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>
</html>
