:root {
  --border: black;
  --border-width: 1px;
  --bg: #def4fd;
  --border-radius: 5px;
  --mono-font: "IBM Plex Mono", "Fira Code", Hack, Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --box-padding: .8rem 1rem;
  --text: black;
}

body {
  font-family: 'iA Writer Duo', var(--mono-font);
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.5; /* This magic✨number is determined by a pair of human eyes. */
}

main {
  max-width: 40rem;
  margin: auto;
  padding: 0 2%;
}

pre, code, kbd {
  font-family: var(--mono-font);
  background-color: white;
  font-size: 98%;
}

pre {
  border: var(--border-width) solid var(--border);
  border-radius: var(--border-radius);
  padding: var(--box-padding);
	max-width: 100%;
	overflow: auto;
}

pre code {
  border: none;
}

code, kbd {
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  padding: 0 .2rem;
}

blockquote {
  border-left: var(--border-width) solid var(--border);
  margin-left: 0;
  padding-left: 1.25rem;
  opacity: .82;
}

a {
  color: blue;
}

a:visited {
  color: purple;
}

:is(h1, h2, h3, h4, h5, h6) a {
  text-decoration: none;
}

:is(h1, h2, h3, h4, h5, h6) a:visited {
  color: blue;
}

h1, h2 {
  margin-top: 3rem;
  border-bottom: 1px solid var(--border);
  padding-bottom: .25rem;
}

h3 {
  margin-top: 1.75rem;
}

a:hover,
:is(h1, h2, h3, h4, h5, h6) a:hover,
:is(h1, h2, h3, h4, h5, h6) a:visited:hover {
  text-decoration: none;
  background-color: blue;
  color: white;
}

a:visited:hover {
  background-color: purple;
}

a:hover img, a:hover:has(img) {
  border: none;
  outline: none;
  background-color: var(--bg);
  text-decoration: none;
  color: white;
}

a {
  outline: none;
}

details {
	padding: .6rem 1rem;
	border: 2px solid var(--border);
	border-radius: var(--border-radius);
	margin-bottom: 1rem;
  background-color: white;
}

summary {
	cursor: pointer;
}

details[open] {
	padding-bottom: .75rem;
}

details[open] summary {
	margin-bottom: .5rem;
}

details[open]>*:last-child {
	margin-bottom: 0;
}

ul.members {
  padding-left: 0;
  padding: var(--box-padding);
	border: var(--border-width) solid var(--border);
	border-radius: var(--border-radius);
	background-color: white;
}

ul.members li {
	list-style: none;
}

ul.members li strong {
  font-size: 1.2rem;
}

ul.members li:not(:first-child) {
  border-top: 1px solid var(--border);
}

input, textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-size: inherit;
  font-family: inherit;

  padding: 0.5rem;
  width: calc(100% - 1rem);
  max-width: calc(100% - 1rem);

  border-radius: var(--border-radius);
  box-shadow: none;

  color: var(--text);
  background-color: white;
  border: 1px solid var(--border);

  margin-bottom: 1rem;
}

label, input, textarea {
  display: block;
}

textarea {
  min-height: 5rem;
  resize: vertical;
}

button[type="submit"] {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  background-color: white;
  color: var(--text);
  padding: 0.5rem 0.9rem;
  text-decoration: none;
  line-height: normal;
	transition: .4s;
}
button:enabled:hover {
  cursor: pointer;
}
