:::
<ul class="members">
{{- for item of members }}
  <li>
    <p><strong><a href="{{ item.url }}">{{ item.name }}</a></strong></p>
    <p><a href="{{ item.colophon }}">{{ item.colophon }}</a></p>
  </li>
{{- /for }}
</ul>
:::
